.DS_STORE
.haxelib/
.vs/
dump/
export/
RECOVER_*.fla
shitAudio/
.build_time
.swp

# Exclude JS stuff
node_modules/
package.json
package-lock.json


# art gitignore
art/**/RECOVER_**
art/**/.DS_STORE

# assets gitignore
assets/**/.DS_STORE